.menu{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight:  200 bold;
    text-shadow: 5rem;
    font-size: 2.3rem;
    margin-top: 5px;
}

.footer{
    color: black;
    font-size: 1.2rem;
}

.footertitle{
    color:goldenrod;
    font-size: 1.8rem;
}

.menu:hover{
    color:goldenrod;
}


